.footer {
    background-color: #343a40; /* Dark gray background */
    color: white; /* White text */
    padding: 20px 0;
}
.footer a {
    color: #f8f9fa; /* Light gray links */
    text-decoration: none;
}
.footer a:hover {
    color: #adb5bd; /* Slightly darker gray on hover */
}
.content{
/* height: 90%; *
 /* margin-top: 10%;  */
 position: absolute;
 height: 90%;
  width: 85vw; 

}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.full-width-container {
    padding: 15px; /* Add a small padding for better appearance */
}

.sidebar{
height: 100%;
}
.container .row{
height: 40%;
}
.content{
/* margin-top: 10%;  */
position: absolute;
height: 90vh;
/* margin-top: 10vh; */
}


.content .propName p{
/* font-size: 25px; 
/* position: absolute; */
font-family: 'Playfair Display', serif; /* Elegant for creative projects */
font-size: 25px;
font-weight: bold;

font-weight: 400; /* Lighter weight for a faint look */
letter-spacing: 1px; /* Slight spacing for an airy feel */
color:grey;

}
.content .propName a{
text-decoration: none;
color:#FFC107;
}

.content hr{
/* margin-top: 80px; */
width: 80%;
}

ul{
display: flex;
list-style: none; /* Removes bullets */
justify-content: space-between;

}
a{

list-style: none; /* Removes bullets */
text-decoration: none;
color:#FFC107;

}


.propNav :hover{
color: #00192D;
}
.propAddress{
/* margin-top: 10px; */
/* width: 80%; */
display:flex;
/* align-items: center; */
}
.details{
/* display: flex; */
}
.details img{
border-radius: 10px;
}


.col-3 .EDIT{
/* position: relative; */
margin-top: 40px;

}
.row .propNav .col-md-2 a{
    text-decoration: none;
}
.container-fluid{
    /* height: 100%; Minimum height of 200 pixels */
}

.propNav{
    background-color: #00192D;
    padding: 1%;
    
}
.row a{
    color:#FFC107;
}
th {
    /* font-weight: 400; Reduce the font weight to normal */
    font-size: 12px;
    
}
td{
    font-size: 80%;
}

button{
    
    border-radius: 10%;
    background-color:#FFC107;
    border-radius: 10px;
    border: #FFC107;
    color: #00192D;
    font-weight: bold; 

}
.Tenant-section{
    background-color: rgba(128, 128, 128, 0.1);
    padding: 2%;
    margin-top: 2px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Horizontal offset, Vertical offset, Blur radius, Shadow color */
}
.summaryItem{
    font-family: 'Playfair Display', serif; /* Elegant for creative projects */
font-size: 25px;
font-weight: bold;

font-weight: 400; /* Lighter weight for a faint look */
letter-spacing: 1px; /* Slight spacing for an airy feel */
color:grey;

}
